.logsMain{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logsFirstSub{
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 10px 1px #e0e0e0;
    border-radius: 5px;
}
.logsSecondSub{
    width: 77%;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    display: flex;
    box-shadow: 0px 2px 10px 1px #e0e0e0;
    background-color: #fff;
}

@media only screen and (max-width:1000px){
    .logsFirstSub{
        width: 18%;
    }
}


@media only screen and (max-width:750px){
    .logsFirstSub span,.logsSecondSub span{
        font-size: 12px;
    }
.logsSecondSub,.logsFirstSub{
    height: 80px;
}
}

@media only screen and (max-width:600px){

.logsMain{
    width: 85%;
}
}


@media only screen and (max-width:520px){

    .logsMain{
        width: 90%;
    }
    .logsSecondSub,.logsFirstSub{
        height: 70px;
    }
    
}

@media only screen and (max-width:450px){
    .logsFirstSub span,.logsSecondSub span{
        font-size: 10px;
    }
    .logsSecondSub,.logsFirstSub{
        height: 60px;
    }
    .logsFirstSub{
        width: 24%;
    }
    .logsSecondSub{
        width: 72%;
    }
    
}