.buttonDiv{
    margin-top: 50px !important;
}
.barcodeBtn{
max-width: 30%;
}
.barcodeInputBox{
    min-width: 35%;
    padding:13px 7px 13px 7px;
    border-radius: 5px;
    background-color: #F1F5F8;
    margin-top: 30px;
    color: #333333;
    margin-bottom: 30px;
}
.barcodeInputBox:placeholder-shown{
    color:#99b2c6;
}

.codeBtn{
    border: none;
    background-color: #99b2c6;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #99b2c6;
    margin-bottom: 20px;
}
.codeBtn:hover{
    background-color: #fff;
    color: #99b2c6;
    border: 1px solid #99b2c6;

}
br{
    user-select: none;
}
@media only screen and (max-width:1200px){
 .barcodeInputBox{
    min-width: 50%;
 }   
}


@media only screen and (max-width:900px){
    .barcodeInputBox{
       min-width:65%;
    }   
   }

   @media only screen and (max-width:400px){
    .barcodeInputBox{
       min-width:75%;
    }   
   }
   