.headerMain{
    width: 100%;
    height: 8vw;
    /* background-color: #f1f5f8; */
    background-image: url('./../../assets/Header\ BG.png');
    display: flex;
    flex-direction: row;
    /* padding-left: 2vw; */
    /* padding-right: 2vw; */
    /* background-color: #333333; */
}
.headerSub1{
    width: 12vw;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerSub2{
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.logoImg{
    height: 80%;
    width: 35%;
}

.headerTitle1{
    height: 100%;
    width: 10%;
    /* background-color: red; */
}
.headerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.headerTitle2{
    height: 100%;
    width: 10%;
    /* background-color: green; */
}

.headerTitle3{
    height: 100%;
    width: 10%;
    /* background-color: blue; */
}
.headerTitle4{
    width: 12%;
}
.headerTitle5{
    width: 8%;
}
.show{
    width: 3vw;
    position: relative;
    top: 10px;
    /* margin-top: 5%; */
    height: 7px;
    /* border-width: 3px; */
    border-radius: 50px;
    background-color:  #f05568;
}

.headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
    color: #f05568;
    font-weight: 600;
    cursor: pointer;
    font-family: Poppins;
}
.hide{
    display: none;
}

.headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
    font-size: 20px;
}

@media only screen and (max-width:1800px){
    .headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
        font-size: 18px;
    }
    

}

@media only screen and (max-width:1600px){

    .headerTitle1,.headerTitle2,.headerTitle3,.headerTitle4,.headerTitle5{
        width: 12vw;
    }
    .headerTitle4{
        width:14vw;
    }
    .headerTitle5{
        width:8vw;
    }

}


@media only screen and (max-width:1400px){

    .headerMain{
        /* padding-top: 10px; */
        height: 10vw;
    }
    .headerTitle1,.headerTitle2,.headerTitle3,.headerTitle4,.headerTitle5{
        width: 12vw;
    }
    .headerTitle4{
        width: 18vw;
    }
    .headerTitle5{
        width: 10vw;
    }
    .logoImg{
        width: 50%;
    }
}


@media only screen and (max-width:1200px){
    /* .headerLink1,.headerLink2,.headerLink3{
        font-size: 14px;
    } */
    .headerTitle1,.headerTitle2,.headerTitle3.headerTitle4,.headerTitle5{
        width: 14vw;
    }
    .headerTitle3{
        width:18vw;
    }
    .headerTitle4{
        width:18vw;
    }
    .headerTitle5{
        width:8vw;
    }

}

@media only screen and (max-width:1050px){

    .headerTitle1,.headerTitle2,.headerTitle3,.headerTitle4,.headerTitle5{
        width: 14vw;
    }
    .headerTitle2,.headerTitle3{
        width: 12vw;
    }
    .headerTitle4{
        width: 18vw;
    }
    .headerTitle5{
        width: 6vw;
    }
    .headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
        font-size: 14px;
    }
}


@media only screen and (max-width:900px){

    .headerTitle1,.headerTitle2,.headerTitle3,.headerTitle4,.headerTitle5{
        width: 16vw;
    }
.headerMain{
    /* padding-top: 10px; */
    height: 10vw;
}
.logoImg{
    width: 50%;
}
}

@media only screen and (max-width:750px){

    .headerMain{
        /* padding-top: 10px; */
        height: 12vw;
    }
    .logoImg{
        width: 60%;
    }
}


@media only screen and (max-width:680px){

    .headerMain{
        /* padding-top: 10px; */
        height: 12vw;
    }
    .logoImg{
        width: 60%;
    }
    .headerTitle1,.headerTitle2,.headerTitle3,.headerTitle4,.headerTitle5{
        width: 16vw;
    }

    .headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
        font-size: 12px;
    }

}

@media only screen and (max-width:600px){

    .headerTitle1,.headerTitle3{
        width: 18vw;
    }
    .headerTitle2{
        width: 12vw;
    }
    .headerTitle4{
        width: 18vw;
    }
    .headerTitle5{
        width: 8vw;
    }
}


@media only screen and (max-width:520px){

    .headerTitle1,.headerTitle3{
        width: 18vw;
    }
    .headerTitle2{
        width: 12vw;
    }
    .headerTitle4{
        width: 18vw;
    }
    .headerTitle5{
        width: 8vw;
    }
    .headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
        font-size: 10px;
    }
}

@media only screen and (max-width:450px){

    .headerMain{
        /* padding-top: 10px; */
        height: 14vw;
    }

    .headerTitle1,.headerTitle3{
        width: 18vw;
    }
    .headerTitle2{
        width: 12vw;
    }
    .headerTitle4{
        width: 18vw;
    }
    .headerTitle5{
        width: 8vw;
    }

    .headerLink1,.headerLink2,.headerLink3,.headerLink4,.headerLink5{
        font-size: 8px;
    }
.logoImg{
    width: 70%;
}
.show{
top:3px;
width: 20%;
height: 3px;
}
}



@media only screen and (max-width:350px){
    .headerTitle1,.headerTitle3{
    width: 20vw;
}
.headerTitle2{
    width: 12vw;
}
.headerTitle4{
    width: 18vw;
}
.headerTitle5{
    width: 8vw;
}
}